header.header
    nav.nav
        if !loggedUser
            ul.logo_container
                li 
                    a(href=routes.home) HOME 
            ul.login_container
                li 
                    a(href=routes.login) login
                li 
                    a(href=routes.join) join
        else 
            ul.logo_container 
                li 
                    a(href=routes.home) HOME 
            ul.login_container
                li 
                    a(href=routes.me) User Profile
                li 
                    a(href=`/video${routes.uploadVideo}`) Upload
                li 
                    a(href=routes.logout) Logout             
            