header.header
    nav.nav
        ul.logo_container
            li 
                a(href=routes.home) HOME 
        if !loggedUser
            ul.login_container
                li 
                    a(href=routes.login) login
                li 
                    a(href=routes.join) join
        else 
            ul.login_container
                li 
                    a(href=`/user/${user._id}`) User Profile
                li 
                    a(href='/test') Test Editor
                li 
                    a(href=`/video${routes.uploadVideo}`) Upload
                li 
                    a(href=routes.logout) Logout             
            